.glassmorphism {
  /* Latar belakang buram */
  background: rgba(255, 255, 255, 0.2); /* Sedikit transparan putih */
  backdrop-filter: blur(10px); /* Efek buram */
  -webkit-backdrop-filter: blur(10px); /* Dukungan Safari */

  /* Border tipis transparan */
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* Bayangan halus */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-title-2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

#landing_page_content > div {
  margin-top: 80px;
  margin-bottom: 80px;
}
